p {
  font-family: Arial;
}
h1 {
  color: maroon;
}
h2.destination{
  font-family: cursive;
}
h5 {
  color: rebeccapurple;
}
.title {
  color: teal;
}
.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}
.cursive {
  font-family: cursive;
}
.capitalize {
  text-transform: capitalize;
}
.description h5 {
  color: teal;
}
/*Learned about chaining and specificity. Changing the color of all h5 elements wont affect an h5 tag assigned to a class*/